.albums-video {}
.albums-video .album { cursor: pointer; padding: 10px; margin-bottom: 10px; overflow: hidden; border: 1px solid transparent; }
.albums-video .album:hover { overflow: hidden; padding: 10px; box-shadow: 0 1px 2px #ccc; border: 1px solid #ddd; border-bottom: 1px solid #b2b2b2; border-radius: 3px; border-radius: 3px; margin-bottom: 10px; }
.albums-video .album .video-main { float: left; margin-right: 10px; }
.albums-video .album .video-main img { cursor: pointer; border: 2px solid #7DC6FF; width: 120px; height: 90px; vertical-align: bottom;  }
.albums-video .album .album-more { float: left; }
.albums-video .album .album-more .album-thumbnails img { cursor: pointer; border: 1px solid transparent; margin-right: 5px; width: 60px; height: 45px; vertical-align: bottom; }
.albums-video .album .album-more .album-thumbnails img:hover { border: 1px solid #7DC6FF; }

.albums-video .album .album-more .album-info {  }
.albums-video .album .album-more .album-info h2 { font-size: 25px; }
