/* -------------------------------------------------------------------
  БЛОКИ
------------------------------------------------------------------- */

/* Block Type - GameInfo */
.block.block-type-gameinfo .block-content .list { border-spacing: 0px; border-collapse: collapse; }
.block.block-type-gameinfo .block-content .list td { padding: 5px 3px; }
.block.block-type-gameinfo .block-content .list td:first-child { white-space: nowrap; text-align: right; vertical-align: top; }
/*
.block.block-type-stream .block-content .latest-list p { font-size: 11px; }
.block.block-type-stream .block-content .latest-list .stream-topic { text-decoration: underline; }
.block.block-type-stream .block-content .latest-list .stream-blog { color: #4128B1; }
.block.block-type-stream .block-content .latest-list .stream-blog:hover { color: #f00; }
.block.block-type-stream .block-content .latest-list .author { color: #4c4c4c; text-decoration: underline; }
.block.block-type-stream .block-content .latest-list .author:hover { color: #f00; }
.block.block-type-stream .block-content .latest-list .block-item-comments { font-size: 11px; text-decoration: none; color: #818189; white-space: nowrap; }
.block.block-type-stream .block-content .latest-list .block-item-comments i { position: relative; top: 3px; margin-right: 2px; }

*/
