/* Разное
---------------------------------------------------- */
.game-list-info { width: 19px; height: 19px; display: inline-block; background: url(../../../../../../../templates/skin/synio/images/icons-synio.png) 0 -107px no-repeat; cursor: pointer; }
.game-list-info:hover,
.game-list-info.active { background-position: -19px -107px; }
