
.game-media { positive: relative; }

.game-media .game-video { margin-right: 20px; float: left; overflow: hidden; border-radius: 4px; border: 1px solid #e0e0e0; }
.game-media .game-video .video-header { position: relative; padding: 10px; box-shadow: 0 2px 5px #efefef; border-bottom: 1px solid #e0e0e0; background: #fff; }
.game-media .game-video .video-slider { padding: 8px; color: #fff; overflow: hidden; }
.game-media .game-video .video-thumbnail { position: relative; float: left; margin: 5px 10px; width: 120px; height: 90px; border: 2px solid #7DC6FF; cursor: pointer; /*box-shadow: 0 1px 4px #7DC6FF;*/ }
.game-media .game-video .video-thumbnail img { width: 120px; height: 90px; }
.game-media .game-video .video-thumbnail img.hover { position: absolute; left:50%; top:50%; margin-left: -28px; margin-top: -27px; width: 56px; height: 54px; }

.game-media .game-image { overflow: hidden; border-radius: 4px; border: 1px solid #e0e0e0; }
.game-media .game-image .image-header { position: relative; padding: 10px; box-shadow: 0 2px 5px #efefef; border-bottom: 1px solid #e0e0e0; background: #fff; }
.game-media .game-image .image-slider { padding: 8px; color: #fff; overflow: hidden; }
.game-media .game-image .image-thumbnail { float: left; margin: 5px 10px; width: 120px; height: 90px; border: 2px solid #7DC6FF; /*box-shadow: 0 1px 4px #7DC6FF;*/ }
.game-media .game-image .image-thumbnail img { width: 120px; height: 90px; }

/* --------------------------------------------
  ИГРА
-------------------------------------------- */

.game-top { position: relative; padding-right: 150px; }
.game-top .vote-topic { position: absolute; top: 3px; right: 15px; }

/* game Mini */
.game-mini {
  padding: 15px;
  margin-bottom: 17px;
  font-size: 11px;
  overflow: hidden; zoom: 1;
  border-radius: 5px;

  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f9fbfb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9fbfb));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
  background: linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9fbfb',GradientType=0 );
}
.game-mini button { margin-left: 20px; }
.game-mini .fl-r a { margin-left: 14px; color: #727a90; }
.game-mini .fl-r a:hover { color: #f00; }
.game-mini .fl-r a.link-dotted { border-color: #727a90; }
.game-mini .fl-r a.link-dotted:hover { border-color: #f00; }



.game {
  overflow: hidden;
  margin-bottom: 17px;
  background: #f8fbfe;
  border-radius: 5px;
  border-radius: 5px;
}
.game-inner { padding: 20px; }


/* Header */
.game .game-header      { position: relative; padding: 10px 0 13px 78px; border-bottom: 1px solid #e8eef5; min-height: 16px; }
.game .game-header h2     { font-size: 20px; font-weight: bold; line-height: 1em; margin-top: 3px; margin-bottom: 7px; }
.game .game-header h2 i   { position: relative; top: 5px; }
.game .game-header .close { position: absolute; top: 0; right: 0; font-size: 11px; cursor: pointer; }
.game .game-header .close i { margin-left: 5px; }
.game .game-header .close a { color: #727a90; border-color: #727a90; }
.game .game-header .close a:hover { color: #f00; border-color: #f00; }
.game .game-header .avatar  { position: absolute; top: -10px; left: 7px; width: 39px; height: 39px; }

.game .game-header .vote-label  { text-transform: uppercase; text-align: right; font-size: 11px; color: #aaa; }
.game .game-header .count     { font-size: 34px; line-height: 1em; font-weight: bold; text-align: right; }

.game .game-header .vote                  { position: absolute; top: 15px; right: 15px; }
.game .game-header .vote .vote-count            { padding-left: 25px; display: block; color: #333; }
.game .game-header .vote .vote-up               { position: absolute; top: 22px; left: 0; display: none; }
.game .game-header .vote .vote-down             { position: absolute; top: 35px; left: 0; display: none; }
.game .game-header .vote:hover .vote-up,
.game .game-header .vote:hover .vote-down,
.game .game-header .vote.voted .vote-up,
.game .game-header .vote.voted .vote-down           { display: inline-block; }
.game .game-header .vote.vote-count-positive .vote-count  { color: #5055B2; }

.game .game-header .actions { margin-bottom: 0; }


/* Content */
.game .game-content { padding: 22px 8px 0; border-top: 1px solid #fff; }
.game .game-content .game-description { margin-bottom: 50px; }
.game .game-content .user-avatar { margin-right: 10px; }

.game-info { width: 300px; margin-bottom: 50px; }
.game-info li { margin-bottom: 5px; background: url(../images/dots.png)  0% 14px repeat-x; position: relative; padding-right: 50px; }
.game-info li span { background: #f8fbfe; padding-right: 2px; }
.game-info li strong { width: 150px; position: absolute; top: 0; right: 0; background: #f8fbfe; padding-left: 2px; font-weight: normal; }
.game-info li.rating strong { color: #5fa459; }



/* Footer */
.game .game-footer { padding: 22px 26px; background: #f1f7fd; font-size: 11px; overflow: hidden; }
.game .game-footer .rss { margin-left: 10px; }
.game .game-footer button { margin-right: 10px; }
.game .game-footer a { color: #727a90; }
.game .game-footer .admin { float: right; }
.game .game-footer .admin img { width: 16px; height: 16px; vertical-align: middle; margin-right: 1px; }
.game .game-footer .admin a { color: #4a4a4a; }


/* More Button */
.game-more      { display: block; padding: 10px 0; text-align: center; text-decoration: none; background: #fafafa; }
.game-more:hover  { background: #eee; }
