/* Table Games */
.table.table-games .cell-info { width: 19px; padding-right: 0; padding-left: 0; }
.table.table-games tbody .cell-info { vertical-align: top; }
.table.table-games tbody .cell-info .game-list-info { display: block; }
.table.table-games .cell-name { padding-left: 3px; }
.table.table-games .cell-name .avatar   { float: left; margin-right: 10px; clear: right; }
.table.table-games .cell-name p     { overflow: hidden; margin-bottom: 5px; }
.table.table-games .cell-name p .game-name  { font-size: 16px; color: #275ec2; }
.table.table-games .cell-name p i { vertical-align: middle; position: relative; top: -1px }
.table.table-games tbody .cell-rating   { width: 70px; font-weight: bold; font-size: 11px; color: #5fa459; }
.table.table-games .cell-readers    { width: 90px; text-align: center; vertical-align: middle; }
.table.table-games tbody .cell-readers  { text-align: center; vertical-align: middle; font-size: 11px; }
.table.table-games .cell-join       { width: 130px; text-align: center; vertical-align: middle; }
.table.table-games .cell-rating     { width: 90px; text-align: center; vertical-align: middle; }
