.show-video { }

.show-video .video { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0px; overflow: hidden; font-size: 0.9em; box-shadow: 0 1px 2px #ccc; border: 1px solid #ddd; border-bottom: 1px solid #b2b2b2; border-radius: 3px; margin-bottom: 10px; }
.show-video .video iframe, .show-video .video object, .show-video .video embed { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }

.show-video .video-info { float: left; overflow: hidden; box-shadow: 0 1px 2px #ddd; border: 1px solid #ddd; border-bottom: 1px solid #b2b2b2; border-radius: 3px; border-radius: 3px; overflow: hidden; }
.show-video .video-info li { cursor: pointer; float: left; padding: 5px 10px; border-left: 1px solid #fff; border-right: 1px solid #dadada; border-bottom: 1px solid #dadada;
  background-image: linear-gradient(bottom, rgb(241,241,241) 23%, rgb(247,247,247) 62%);
  background-image: -o-linear-gradient(bottom, rgb(241,241,241) 23%, rgb(247,247,247) 62%);
  background-image: -moz-linear-gradient(bottom, rgb(241,241,241) 23%, rgb(247,247,247) 62%);
  background-image: -webkit-linear-gradient(bottom, rgb(241,241,241) 23%, rgb(247,247,247) 62%);
  background-image: -ms-linear-gradient(bottom, rgb(241,241,241) 23%, rgb(247,247,247) 62%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.23, rgb(241,241,241)),
    color-stop(0.62, rgb(247,247,247))
  );
}
.show-video .video-info li:hover { border: 1px solid transparent; border-top: none;
  background-image: linear-gradient(bottom, rgb(255,255,255) 23%, rgb(244,244,244) 62%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 23%, rgb(244,244,244) 62%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 23%, rgb(244,244,244) 62%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 23%, rgb(244,244,244) 62%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 23%, rgb(244,244,244) 62%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.23, rgb(255,255,255)),
    color-stop(0.62, rgb(244,244,244))
  );
}
.show-video .video-info li:active { box-shadow: inset 0 0 2px #dadada; }
.show-video .video-info li:first-child { border-left: none; }
.show-video .video-info li:last-child { border-right: none; }
