{include file='header.tpl'}
{include file="`$aTemplatePathPlugin.gamerpress`menu.game_edit.tpl"}



{if $aGameUsers}
  <form method="post" enctype="multipart/form-data" class="mb-20">
    <input type="hidden" name="security_ls_key" value="{$LIVESTREET_SECURITY_KEY}" />

    <table class="table table-users">
      <thead>
        <tr>
          <th class="cell-name">{$aLang.blog_admin_users}</th>
          <th class="ta-c">{$aLang.blog_admin_users_administrator}</th>
          <th class="ta-c">{$aLang.blog_admin_users_moderator}</th>
          <th class="ta-c">{$aLang.blog_admin_users_reader}</th>
          <th class="ta-c">{$aLang.blog_admin_users_bun}</th>
        </tr>
      </thead>

      <tbody>
        {foreach from=$aGameUsers item=oGameUser}
          {assign var="oUser" value=$oGameUser->getUser()}

          <tr>
            <td class="cell-name">
              <a href="{$oUser->getUserWebPath()}"><img src="{$oUser->getProfileAvatarPath(24)}" alt="avatar" class="avatar" /></a>
              <a href="{$oUser->getUserWebPath()}">{$oUser->getLogin()}</a>
            </td>

            {if $oUser->getId()==$oUserCurrent->getId()}
              <td colspan="3">{$aLang.blog_admin_users_current_administrator}</td>
            {else}
              <td class="ta-c"><input type="radio" name="user_rank[{$oUser->getId()}]" value="administrator" {if $oGameUser->getIsAdministrator()}checked{/if} /></td>
              <td class="ta-c"><input type="radio" name="user_rank[{$oUser->getId()}]" value="moderator" {if $oGameUser->getIsModerator()}checked{/if} /></td>
              <td class="ta-c"><input type="radio" name="user_rank[{$oUser->getId()}]" value="reader" {if $oGameUser->getUserRole()==$GAME_USER_ROLE_USER}checked{/if} /></td>
              <td class="ta-c"><input type="radio" name="user_rank[{$oUser->getId()}]" value="ban" {if $oGameUser->getUserRole()==$GAME_USER_ROLE_BAN}checked{/if} /></td>
            {/if}
          </tr>
        {/foreach}
      </tbody>
    </table>

    <button type="submit"  name="submit_game_admin" class="button button-primary">{$aLang.blog_admin_users_submit}</button>
  </form>

  {include file='paging.tpl' aPaging=$aPaging}
{else}
  {$aLang.blog_admin_users_empty}
{/if}



{include file='footer.tpl'}
