{include file='header.tpl' menu='game'}
<h2 class="page-header">Альбомы</h2>

<div class="albums-video">
  <ul>

    <li>
      <div class="album">
        <div class="video-main">
          <a href="{$sMenuSubGameUrl}video/1" title="Заголовок">
            <img src="http://img.youtube.com/vi/MmB9b5njVbA/default.jpg"/>
          </a>
        </div>
        <div class="album-more">
          <div class="album-thumbnails">
            <a href="{$sMenuSubGameUrl}video/1" title="Заголовок"><img src="http://img.youtube.com/vi/MmB9b5njVbA/default.jpg"/></a>
            <a href="{$sMenuSubGameUrl}video/1" title="Заголовок"><img src="http://img.youtube.com/vi/MmB9b5njVbA/default.jpg"/></a>
            <a href="{$sMenuSubGameUrl}video/1" title="Заголовок"><img src="http://img.youtube.com/vi/MmB9b5njVbA/default.jpg"/></a>
            <a href="{$sMenuSubGameUrl}video/1" title="Заголовок"><img src="http://img.youtube.com/vi/MmB9b5njVbA/default.jpg"/></a>
          </div>
          <div class="album-info">
            <h2>Трейлеры</h2>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="album">
        <div class="video-main">
          <a href="{$sMenuSubGameUrl}video/1" title="Заголовок">
            <img src="http://img.youtube.com/vi/MmB9b5njVbA/default.jpg"/>
          </a>
        </div>
        <div class="album-more">
          <div class="album-thumbnails">
            <a href="{$sMenuSubGameUrl}video/1" title="Заголовок"><img src="http://img.youtube.com/vi/MmB9b5njVbA/default.jpg"/></a>
            <a href="{$sMenuSubGameUrl}video/1" title="Заголовок"><img src="http://img.youtube.com/vi/MmB9b5njVbA/default.jpg"/></a>
            <a href="{$sMenuSubGameUrl}video/1" title="Заголовок"><img src="http://img.youtube.com/vi/MmB9b5njVbA/default.jpg"/></a>
            <a href="{$sMenuSubGameUrl}video/1" title="Заголовок"><img src="http://img.youtube.com/vi/MmB9b5njVbA/default.jpg"/></a>
          </div>
          <div class="album-info">
            <h2>Трейлеры</h2>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="album">
        <div class="video-main">
          <a href="{$sMenuSubGameUrl}video/1" title="Заголовок">
            <img src="http://img.youtube.com/vi/MmB9b5njVbA/default.jpg"/>
          </a>
        </div>
        <div class="album-more">
          <div class="album-thumbnails">
            <a href="{$sMenuSubGameUrl}video/1" title="Заголовок"><img src="http://img.youtube.com/vi/MmB9b5njVbA/default.jpg"/></a>
            <a href="{$sMenuSubGameUrl}video/1" title="Заголовок"><img src="http://img.youtube.com/vi/MmB9b5njVbA/default.jpg"/></a>
            <a href="{$sMenuSubGameUrl}video/1" title="Заголовок"><img src="http://img.youtube.com/vi/MmB9b5njVbA/default.jpg"/></a>
            <a href="{$sMenuSubGameUrl}video/1" title="Заголовок"><img src="http://img.youtube.com/vi/MmB9b5njVbA/default.jpg"/></a>
          </div>
          <div class="album-info">
            <h2>Трейлеры</h2>
          </div>
        </div>
      </div>
    </li>

  </ul>
</div>

{include file='footer.tpl'}
