.level td {
    padding-bottom: 15px;
}

.level h2 {
    font-size: 30px;
    text-align: center;
}

.level .stats {
    height: 55px;
    border-top: 1px solid #d0d3d4;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
    border-radius: 5px;
    background: #feeffe;
    margin-bottom: 10px;
}

.level .progress {
    border: 1px solid #c9c9c9;
    height: 10px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 5px #c9c9c9 inset;
    margin-bottom: 10px;
}

.level .progress i {
    display: inline-block;
    height: 10px;
    position: absolute;
    border-radius: 8px;
    top: -1px;
}

.level .progress i.plus {
    left: -1px;
    background: #bce078;
    border: 1px solid #8ab25a;
    box-shadow: 0 1px 1px #d8f1ab inset;

    background-image: linear-gradient(bottom, rgb(183,220,114) 5%, rgb(197,233,131) 79%);
    background-image: -o-linear-gradient(bottom, rgb(183,220,114) 5%, rgb(197,233,131) 79%);
    background-image: -moz-linear-gradient(bottom, rgb(183,220,114) 5%, rgb(197,233,131) 79%);
    background-image: -webkit-linear-gradient(bottom, rgb(183,220,114) 5%, rgb(197,233,131) 79%);
    background-image: -ms-linear-gradient(bottom, rgb(183,220,114) 5%, rgb(197,233,131) 79%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.05, rgb(183,220,114)),
        color-stop(0.79, rgb(197,233,131))
    );
}

.level .progress i.minus {
    right: -1px;
    background: #de7878;
    border: 1px solid #b05a5a;
    box-shadow: 0 1px 1px #f0aaaa inset;

    background-image: linear-gradient(bottom, rgb(217,115,115) 5%, rgb(232,132,132) 79%);
    background-image: -o-linear-gradient(bottom, rgb(217,115,115) 5%, rgb(232,132,132) 79%);
    background-image: -moz-linear-gradient(bottom, rgb(217,115,115) 5%, rgb(232,132,132) 79%);
    background-image: -webkit-linear-gradient(bottom, rgb(217,115,115) 5%, rgb(232,132,132) 79%);
    background-image: -ms-linear-gradient(bottom, rgb(217,115,115) 5%, rgb(232,132,132) 79%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.05, rgb(217,115,115)),
        color-stop(0.79, rgb(232,132,132))
    );
}

.level ul li {
    margin-left: 20px;
}
