The user <a href="{$oUserCurrent->getUserWebPath()}">{$oUserCurrent->getLogin()}</a> posted a new topic - <a href="{$oTopic->getUrlFull()}">{$oTopic->getTitle()|escape:'html'}</a><br> in a forum <b>«{$oForum->getTitle()|escape:'html'}»</b>

<br><br>
Best regards, site administration <a href="{cfg name='path.root.web'}">{cfg name='view.name'}</a>