{if $sEventAction=='add'}
  {include file='header.tpl'}
  <h2 class="page-header">Добавить видео</h2>
{else}
  {include file='header.tpl'}
  <h2 class="page-header">{$aLang.topic_topic_edit}</h2>
{/if}


{include file='editor.tpl'}


<form action="" method="POST" enctype="multipart/form-data" id="form-topic-add" class="wrapper-content">


  <input type="hidden" name="security_ls_key" value="{$LIVESTREET_SECURITY_KEY}" />


  <input type="hidden" name="blog_id" value="{$_aRequest.blog_id}" />
  <input type="hidden" name="game_id" value="{$_aRequest.game_id}" />


  <p><label for="topic_title">{$aLang.topic_create_title}:</label>
  <input type="text" id="topic_title" name="topic_title" value="{$_aRequest.topic_title}" class="input-text input-width-full" />
  <small class="note">{$aLang.topic_create_title_notice}</small></p>


  <label for="topic_text">{$aLang.topic_create_text}:</label>
  <textarea name="topic_text" id="topic_text" class="mce-editor markitup-editor input-width-full" rows="20">{$_aRequest.topic_text}</textarea>

  {if !$oConfig->GetValue('view.tinymce')}
    {include file='tags_help.tpl' sTagsTargetId="topic_text"}
    <br />
    <br />
  {/if}

  <p><label for="topic_tags">{$aLang.topic_create_tags}:</label>
  <input type="text" id="topic_tags" name="topic_tags" value="{$_aRequest.topic_tags}" class="input-text input-width-full autocomplete-tags-sep" />
  <small class="note">{$aLang.topic_create_tags_notice}</small></p>


  <p><label><input type="checkbox" id="topic_forbid_comment" name="topic_forbid_comment" class="input-checkbox" value="1" {if $_aRequest.topic_forbid_comment==1}checked{/if} />
  {$aLang.topic_create_forbid_comment}</label>
  <small class="note">{$aLang.topic_create_forbid_comment_notice}</small></p>


  {if $oUserCurrent->isAdministrator()}
    <p><label><input type="checkbox" id="topic_publish_index" name="topic_publish_index" class="input-checkbox" value="1" {if $_aRequest.topic_publish_index==1}checked{/if} />
    {$aLang.topic_create_publish_index}</label>
    <small class="note">{$aLang.topic_create_publish_index_notice}</small></p>
  {/if}

  <input type="hidden" name="topic_type" value="topic" />



  <button type="submit"  name="submit_topic_publish" id="submit_topic_publish" class="button button-primary fl-r">{$aLang.topic_create_submit_publish}</button>
  <button type="submit"  name="submit_preview" onclick="ls.topic.preview('form-topic-add','text_preview'); return false;" class="button">{$aLang.topic_create_submit_preview}</button>
  <button type="submit"  name="submit_topic_save" id="submit_topic_save" class="button">{$aLang.topic_create_submit_save}</button>
</form>


<div class="topic-preview" style="display: none;" id="text_preview"></div>




{include file='footer.tpl'}
