{assign var="oGame" value=$oTopic->getGame()}
{assign var="oUser" value=$oTopic->getUser()}
{assign var="oVote" value=$oTopic->getVote()}


<article class="topic topic-type-{$oTopic->getType()} js-topic">
  <header class="topic-header">
    <h1 class="topic-title word-wrap">
      {if $bTopicList}
        <a href="{$oTopic->getUrl()}">{$oTopic->getTitle()|escape:'html'}</a>
      {else}
        {$oTopic->getTitle()|escape:'html'}
      {/if}

      {if $oTopic->getPublish() == 0}
        <i class="icon-synio-topic-draft" title="{$aLang.topic_unpublish}"></i>
      {/if}

      {if $oTopic->getType() == 'link'}
        <i class="icon-synio-topic-link" title="{$aLang.topic_link}"></i>
      {/if}
    </h1>


    <div class="topic-info">
      <a href="{$oGame->getUrlFull()}" class="topic-blog">{$oGame->getTitle()|escape:'html'}</a>
      <a href="#" class="blog-list-info" onclick="return ls.infobox.showInfoGame(this,{$oGame->getId()});"></a>
    </div>

    {if $oUserCurrent and ($oUserCurrent->getId()==$oTopic->getUserId() or $oUserCurrent->isAdministrator() or $oGame->getUserIsAdministrator() or $oGame->getUserIsModerator() or $oGame->getOwnerId()==$oUserCurrent->getId())}
      <ul class="topic-actions">
        {if $oUserCurrent and ($oUserCurrent->getId()==$oTopic->getUserId() or $oUserCurrent->isAdministrator() or $oGame->getUserIsAdministrator() or $oGame->getUserIsModerator() or $oGame->getOwnerId()==$oUserCurrent->getId())}
          <li class="edit"><i class="icon-synio-actions-edit"></i><a href="{cfg name='path.root.web'}/{$oTopic->getType()}/edit/{$oTopic->getId()}/" title="{$aLang.topic_edit}" class="actions-edit">{$aLang.topic_edit}</a></li>
        {/if}

        {if $oUserCurrent and ($oUserCurrent->isAdministrator() or $oGame->getUserIsAdministrator() or $oGame->getOwnerId()==$oUserCurrent->getId())}
          <li class="delete"><i class="icon-synio-actions-delete"></i><a href="{router page='topic'}delete/{$oTopic->getId()}/?security_ls_key={$LIVESTREET_SECURITY_KEY}" title="{$aLang.topic_delete}" onclick="return confirm('{$aLang.topic_delete_confirm}');" class="actions-delete">{$aLang.topic_delete}</a></li>
        {/if}
      </ul>
    {/if}
  </header>
