<ul class="nav nav-menu">
  <li {if $sMenuItemSelect=='main'}class="active"{/if}><a href="{$sMenuSubGameUrl}">Главная</a></li>
  <li {if $sMenuItemSelect=='videos'}class="active"{/if}><a href="{$sMenuSubGameUrl}videos/">Видео</a></li>
  <li {if $sMenuItemSelect=='photos'}class="active"{/if}><a href="{$sMenuSubGameUrl}photos/">Фото</a></li>
</ul>
